{% extends "base.html" %}

{% block title %}Närvaro{% endblock %}

{% block content %}
<h1>Sök närvaro</h1>

<form method="POST">
    <input type="text" name="query" placeholder="Sök student eller Journal Club">
    <button type="submit">Sök</button>
</form>

<h2>Studenter:</h2>
<ul>
    {% for student in students %}
    <li><a href="{{ url_for('student_attendance', student_id=student.id) }}">{{ student.first_name }} {{ student.last_name }}</a></li>
    {% endfor %}
</ul>

<h2>Journal Clubs:</h2>
<ul>
    {% for club in journal_clubs %}
    <li><a href="{{ url_for('journal_club_attendance', journal_club_id=club.id) }}">{{ club.description }} ({{ club.date }})</a></li>
    {% endfor %}
</ul>

{% endblock %}
