{% extends "base.html" %}

{% block title %}Hem{% endblock %}

{% block content %}
<h1>Kommande Journal Clubs:</h1>

{% if journal_clubs %}
    <table>
        <thead>
            <tr>
                <th>Beskrivning</th>
                <th>Datum</th>
                <th>Tid</th>
                <th>Plats</th>
                <th>DOI</th>
            </tr>
        </thead>
        <tbody>
        {% for club in journal_clubs %}
            <tr>
                <td>{{ club.description }}</td>
                <td>{{ club.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ club.time.strftime('%H:%M') }}</td>
                <td>{{ club.place }}</td>
                <td><a href="https://doi.org/{{ club.DOI }}" target="_blank">{{ club.DOI }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('view_journal_clubs') }}" class="btn btn-primary">Ändra Journal Clubs</a>
{% else %}
    <p>Inga Journal Clubs har registrerats de senaste 7 dagarna eller i framtiden.</p>
{% endif %}

{% endblock %}
